html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Verdana, sans-serif;
    line-height: 32px;
    background: #faf9f6;
}
/* ===== Scrollbar CSS ===== from https://codepen.io/stephenpaton-tech/full/JjRvGmY */ 
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9670B5 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9670B5;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* changes the color of the highlighted text */
::selection {
    color: #541d82;
    background-color:#c38dee;
}
/* hero section (nav bar) */
.hero-container ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 20px;
    
}
.hero-container a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}
.hero-container a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #af76de;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
/* hover code thanks to https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.hero-container a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.logo-text {
    font-size: 30px;
    font-weight: 600;
}
.hero-container {
    background-image: url("https://images.pexels.com/photos/1492219/pexels-photo-1492219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: rgba(41, 13, 64, 0.68);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.nav-section {
    display: flex;
    margin: 20px;
    padding: 20px;
    gap: 50rem;
}
.lower-hero {
    margin: 20px;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
h2 {
    font-size: 34px;
    text-align: center;
}
.lower-text {
    font-size: 20px;
}
.button {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background: #af76de;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.button:hover {
    transform: scale(1.2);
}
/* about sect */
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 50px;
}
.imgg {
    width: 400px;
    height: auto;
    border-radius: 10px;
    transition: box-shadow .3s;
    transition: 0.5s ease;
}
.imgg:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.5);
    transform: scale(1.1);
}
.img-cont {
    display: flex;
    gap: 4rem;
    margin: 40px;
}
.info-text {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    gap: 21rem;
} 
.info-text-lower {
    display: flex;
    font-size: 16px;
    gap: 3.5rem;
}
.p-sect {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
    text-align: center;
}
/* testimonials sect */
.bg {
    background-color: #af76de4a;
}
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px 20px 0 20px;
    padding: 20px;
}
h1 {
    text-align: center;
    color: white;
    margin: 10px;
    padding: 30px;
    padding-top: 5rem;
}
.test-text-1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 5rem;
    margin-bottom: 15rem;
    justify-content: center;
    align-items: center;
}
.test-text-2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 5rem;
    margin-bottom: 15rem;
}
.test-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    object-fit: cover;
    padding: 45px 45px auto auto;
}
.test-sect-1 {
    display: flex;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    color: white;
}
.test-sect-2 img {
    margin-left: 6rem;
}
.test-sect-2 {
    display: flex;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    color: white;
    flex-direction: row-reverse;
}
.testimonials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#af76de;
    font-size: 24px;
}
/* footer section */
footer {
    background-color: #9670B5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}
.links {
    display: flex;
    gap: 2rem;
}
.links a {
    color: white;
}
footer p {
    font-size: 18px;
}